<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <title>SiKiZa</title>
</head>

<body>


    <!-- flow-box -->

    <div class="flow-box">

        <!-- pane 1 -->
        <div class="pane-1">

            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="283.563" height="249.137" viewBox="0 0 283.563 249.137">
                <g id="Group_5" data-name="Group 5" transform="translate(-1646 -299.034)">
                  <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="54.866" cy="57.201" rx="54.866" ry="57.201" transform="translate(1646 433.769)" fill="#fff"/>
                  <rect id="Rectangle_4" data-name="Rectangle 4" width="28.017" height="48.581" rx="6" transform="matrix(0.799, -0.602, 0.602, 0.799, 1756.398, 422.693)" fill="#fff"/>
                  <rect id="Rectangle_5" data-name="Rectangle 5" width="28.017" height="97.555" rx="6" transform="matrix(0.799, -0.602, 0.602, 0.799, 1785.215, 375.468)" fill="#fff"/>
                  <rect id="Rectangle_7" data-name="Rectangle 7" width="28.017" height="154.092" rx="6" transform="matrix(0.799, -0.602, 0.602, 0.799, 1814.453, 315.895)" fill="#fff"/>
                </g>
              </svg>
              

            <div class="title-1">
                Giving voice to the voiceless
            </div>
            <div class="description">
                <p>
                    Giving our brothers and sisters the listening
                    ear to communicate and express their ideas
                    to the understanding of all.
                </p>

                <p>
                    We believe they also have brilliant ideas which
                    when taken and developed,
                    can make the world a better place.
                </p>

                <p>
                    This is to give to the dumb and deaf, the opportunity
                    to create. 
                </p>




            </div>
        </div>
        <!-- end of pane 1 -->




        <!-- pane 2 -->
        <div class="pane-2">

            <center id='cen'>
                <svg class='logo' xmlns="http://www.w3.org/2000/svg" width="484.131" height="175" viewBox="0 0 484.131 175">
                    <g id="Group_11" data-name="Group 11" transform="translate(-1205 -265)">
                        <g id="Group_7" data-name="Group 7" transform="translate(1205 265)">
                            <g id="Group_6" data-name="Group 6">
                                <text id="SiKiZa" transform="translate(0 142)" font-size="132"
                                    font-family="SegoeUI-Bold, Segoe UI" font-weight="700">
                                    <tspan x="0" y="0">SiKiZa</tspan>
                                </text>
                                <g id="Group_4" data-name="Group 4" transform="translate(392.816 60.464)">
                                    <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="21" cy="22" rx="21" ry="22"
                                        transform="translate(0.184 42.536)" />
                                    <rect id="Rectangle_4" data-name="Rectangle 4" width="10.667" height="18.496"
                                        rx="5.333" transform="matrix(0.799, -0.602, 0.602, 0.799, 34.146, 42.299)" />
                                    <rect id="Rectangle_5" data-name="Rectangle 5" width="10.667" height="37.141"
                                        rx="5.333" transform="matrix(0.799, -0.602, 0.602, 0.799, 41.581, 25.758)" />
                                    <rect id="Rectangle_7" data-name="Rectangle 7" width="10.667" height="58.666"
                                        rx="5.333" transform="matrix(0.799, -0.602, 0.602, 0.799, 47.49, 6.419)" />
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>




                <div class="option-container">
                    <button id='api' class='butt'>Get Api</button> 
                    <a href="/home">
                       <button id='start' class='butt'>Get Started</button>
                    </a> 
                </div>
            </center>


           
        </div>




    </div>


</body>

</html>